*.pdf filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/dist/fontawesome/all.min.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/main.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/math/mathjax/mml-svg.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/math/mathjax/output/svg/fonts/tex.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/math/mathjax/tex-mml-svg.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/math/mathjax/tex-svg-full.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/math/mathjax/tex-svg.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/mermaid/mermaid.esm.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-advanced-slides/plugin/mermaid/mermaid.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-excalidraw-plugin/main.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/obsidian-git/main.js filter=lfs diff=lfs merge=lfs -text
/.obsidian/plugins/table-editor-obsidian/main.js filter=lfs diff=lfs merge=lfs -text
/Notes/DSP/images/FFT_aliasing_600.gif filter=lfs diff=lfs merge=lfs -text
/Pasted[[:space:]]image[[:space:]]20230812111652.png filter=lfs diff=lfs merge=lfs -text
/Projects/MakeHaven/images/Pasted[[:space:]]image[[:space:]]20230713192800.png filter=lfs diff=lfs merge=lfs -text
/Projects/MakeHaven/images/Pasted[[:space:]]image[[:space:]]20230713195828.png filter=lfs diff=lfs merge=lfs -text
/Projects/MakeHaven/images/Pasted[[:space:]]image[[:space:]]20230713201908.png filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Posts/weeklyupdate2/images/retrobiker.png filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Posts/weeklyupdate2/images/top_view_ip.jpg filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/DSCF1723.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/DSCF1724.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/DSCF1727.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/DSCF1728.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/DSCF1731.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1623.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1625.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1626.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1627.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1628.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1650.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1682.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/DSCF1684.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/finishedprints1.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/finishedprints2.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/flywheelsupport.png filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Videos/Pictures/mk1finished.JPG filter=lfs diff=lfs merge=lfs -text
/Projects/portfolio/full[[:space:]]page.png filter=lfs diff=lfs merge=lfs -text
/Projects/portfolio/responsive[[:space:]]site.gif filter=lfs diff=lfs merge=lfs -text
/Notes/Mechanical[[:space:]]Design/Shigleys_2015_Mechanical_Engineering_Des.pdf filter=lfs diff=lfs merge=lfs -text
/Notes/Programming/Embedded/AVR[[:space:]]Programming.pdf filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Books/Advanced_Physics_Nick_Lucid_Jan_2023.pdf filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Books/Databook[[:space:]]UW.pdf filter=lfs diff=lfs merge=lfs -text
/Projects/SLAMBike/Books/Reaction[[:space:]]Wheel[[:space:]]Pendulum.pdf filter=lfs diff=lfs merge=lfs -text
